@{
    ViewBag.Title = "关于本系统";
}

<h2>系统介绍</h2>
<div style="color: #575757;">
    <p>
        系统实现自动出卷功能。
    </p>
    <p>
        出卷策略暂定为“简单”、“中等”、“困难”三个难度。
        体现在抽取对应难度比例的试题上。
    </p>
    <p>
        试卷可供在线预览，打印功能正在开发中。
    </p>
</div>
