@{
    ViewBag.Title = "特性";
}

<h2>系统开发特性</h2>
<div style="color: #575757;">
    <p>
        The system is based on ASP.NET / C# MVC 4.
    </p>
    <p>
        采用Ajax/Json配合Web API技术实现Async刷新功能。
    </p>
    <p>
        UI以jQuery为依据，界面风格采用Bootstrap和EasyUI。
    </p>
    <p>
        界面为上下左右分栏，上为主菜单，左为导航菜单，右为主窗口部分，下为网站标志。
    </p>
</div>
