@{
    ViewBag.Title = "主页";
    ViewBag.Message = "在线自动出卷系统";
}

<h3>登录帐号：</h3>
<ol>
    <li>
        <h5>管理员</h5>
        <strong>用户：admin 密码：admin</strong>
    </li>

    <li>
        <h5>教师</h5>
        <strong>用户：teacher 密码：teacher</strong>
    </li>

    <li>
        <h5>审核员</h5>
        <strong>用户：verifier 密码：verifier</strong>
    </li>

    <li>
        <h5>教研员</h5>
        <strong>用户：researcher 密码：researcher</strong>
    </li>
</ol>
